<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="background-color: rgb(12, 12, 184);">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <app-header></app-header>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3" >

      <a class="p-2 text-dark"routerLink="/merchant">Merchant</a>
      <a class="p-2 text-dark"routerLink="/products">Buyer</a>
      <a class="p-2 text-dark" routerLink="/Home">Home</a>
    </nav>
   
  </div>
  
